#background {
  @include w-h-full();
  background: url("")
    no-repeat center / cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  mask: 10%;
}

#top-btn{
  @include button-styles($pad: ".8rem");
  position: fixed;
  bottom: 5%;
  right: 2%;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 100;
  display: none;
   &.fade-in{
    animation:  fade-in .3s;
   }
   &.fade-out{
    animation: fade-out .3s;
   }
  &.show{
    display: block;
  }

  &:hover{
    &{
      background-color: rgba(255, 251, 251, 0.938);
    }
    i{
      font-weight: 800;
      display: inline-block;
      transform: scale(1.2);
    }
  }
}

@keyframes fade-in {
  from{
    display: none;
    opacity: 0;
  }to{
    display: block;
    opacity: 1;
  }
}

@keyframes fade-out {
  from{
    display: block;
    opacity: 1;
  }to{
    display: none;
    opacity: 0;
  }
}
