header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0));
  backdrop-filter: blur(20px);
  transition: transform 0.5s ease;
  &.hide {
    transform: translateY(-100%);
  }
  nav {
    @include w-h-full(2rem, 0.5rem);
    position: relative;
    @include flex-between();
    * {
      transition: color 0.3s ease;
    }
    a {
      color: white;
    }

    h2 {
      font-family: "heading-font";
      font-size: rem(50);
      font-weight: 400;
      display: inline-block;
      user-select: none;
    }
    ul {
      @include flex-center(2rem);
      li {
        font-size: rem(20);
        position: relative;
        cursor: pointer;
        @include hover-effect(0%);
      }
    }
    label {
      cursor: pointer;
      input {
        transform: scale(1.4);
        margin-left: 0.2rem;
        cursor: pointer;
      }
    }

    button#header-lock-button {
      @include button-styles();
      font-size: 2rem;
      margin-right: 0.5rem;
      color: white;
    }
    button#account {
      justify-self: end;
      @include button-styles();
      font-size: 2rem;
      position: relative;
      overflow: hidden;
      @include hover-effect(10%);
      color: white;

    }
  }
}


@media (max-width: 67.5rem) {
header{
  nav{
    ul{
      display: none;
    }
    button{
      display: none;
    }
  }
}
}

@media (max-width: rem(730)) {
header{
  display: none;
}
}
