#section-three {
  background-color: #0b1d27;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    text-align: center;
    gap: 2rem;
    padding: 2rem 0;

    li[class="card"] {
      @include flex-between();
      flex-direction: column;
      gap: 1rem;
      color: #d0db8f;
      font-family: "Inter";
      i {
        font-size: 8rem;
        font-weight: 400;
      }
      h4 {
        font-size: 2rem;
      }
      h5 {
        font-size: 2rem;
        color: hsl(0 0 90);
      }
      p {
        color: hsl(0 0 90);
        height: 50%;
        line-height: 1.4rem;
      }
    }
    li:nth-child(1) {
      color: hsl(0 0 90);
      grid-column: span 3;
      text-align: center;
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      p {
        margin: 0 auto;
        width: 75ch;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: var(--clr-muted);
      }
    }
  } // ul ends here

  #tour-navigation {
    background: url("../../assets/images/aerial-shot-beautiful-green-hills-curvy-road-going-along-edge-amazing-sea.jpg")
      no-repeat center/ cover;
    position: relative;
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #0b1d277c;
      z-index: 1;
    }
    .content {
      position: relative;
      z-index: 10;
      color: white;
      font-family: "Montserrat";
      padding: 2rem 0;
      & > * {
        text-align: center;
        margin: 2rem auto;
        text-shadow: var(--shadow-md);
      }
      h3 {
        font-size: 3rem;
      }
      p {
        width: 65ch;
        font-size: 1.2rem;
        line-height: 1.5;
      }
      button {
        @include button-styles(var(--clr-primary), ".75rem 1rem");
        margin: 0 auto;
        display: block;
        border-radius: 20px;

        text-shadow: none;
      }
    }
  }
}

@media (max-width: rem(1080)) {
  #section-three {
    ul {
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      margin: auto;
      text-align: center;
      gap: 2rem;
      padding: 2rem 0;

      li[class="card"] {
        @include flex-between();
        flex-direction: column;
        gap: 1rem;
        color: #d0db8f;
        font-family: "Inter";
      }
      li:nth-child(4) {
        grid-column: span 2;
        // background-color: red;
      }
      li:nth-child(1) {
        grid-column: span 2;
      }
    } // ul ends here

    #tour-navigation .content {
      h3 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: rem(730)) {
  #section-three {
    ul {
      width: 80%;
      grid-template-columns: repeat(1, 1fr);
      // grid-template-rows:  repeat(4, 1fr);

      li:nth-child(1) {
        color: hsl(0 0 90);
        grid-column: span 1;
        margin-bottom: 0;
        h2 {
          font-size: 2rem;
        }

        p {
          margin: 0 auto;
          width: 40ch;
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      li[class="card"] {
        grid-column: span 1;
      }
    } // ul ends here



  #tour-navigation {
    background: url("../../assets/images/aerial-shot-beautiful-green-hills-curvy-road-going-along-edge-amazing-sea.jpg")
      no-repeat center/ cover;
    position: relative;
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #0b1d277c;
      z-index: 1;
    }
    .content {
      position: relative;
      z-index: 10;
      color: white;
      font-family: "Montserrat";
      padding: 2rem 0;
      & > * {
        text-align: center;
        margin: 2rem auto;
        text-shadow: var(--shadow-md);
      }
      h3 {
        font-size: 1rem;
      }
      p {
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.5;
      }
      button {
        @include button-styles(var(--clr-primary), ".75rem 1rem");
        margin: 0 auto;
        display: block;
        border-radius: 20px;

        text-shadow: none;
      }
    }
  }

  }
}
