#section-one {
  min-height: 100svh;
  width: 100%;
  background-color: rgba(55, 56, 34, 0.212);
  padding: 5rem;
  @include flex-between();

  .left {
    @include flex-center(1rem, "column");
    color: var(--clr-text);
    font-family: "roboto";
    font-weight: 400;
    font-size: 1.1rem;
    p {
      writing-mode: vertical-rl;
      user-select: none;
    }
    i {
      color: var(--clr-text);
      cursor: pointer;
    }
  }
  //left ends
  .hero-content {
    font-family: "lamoric-font";
    color: var(--clr-text);

    h2 {
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      text-shadow: var(--shadow-md);
      text-indent: 5rem;
      margin-bottom: 1rem;
      position: relative;
      @include line-before("rgb(221, 69, 153)");
    }
    h1 {
      font-size: 4rem;
      transform: scaleY(1.2);
      color: rgb(255, 255, 255);
      text-shadow: 10px 10px 15px black;
    }
    a {
      @include button-styles("rgb(177, 157, 44)");
      display: block;
      width: fit-content;
      padding: 1rem 2rem;
      font-family: "roboto";
      color: var(--clr-dark) ;
      border-radius: 0.2rem;
      margin: 1rem auto;
      &:hover {
        clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%, 10% 50%);
      }
    }
  }
  // hero ends

  .right {
    ul {
      font-size: 1rem;
      font-weight: 600;
      font-family: "roboto";
      text-align: right;
      color: rgb(228, 228, 214);

      li {
        user-select: none;
        padding: 1rem 0.5rem;
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          width: 0.2rem;
          background-color: rgba(255, 255, 255, 0.534);
          height: 100%;
          right: -10%;
          top: 0;
          transition: all 0.2s ease-in-out;
        }
        &.active::after {
          background-color: rgb(234, 0, 255);
        }
      }
    }
  }
}

@media (max-width: rem(1080)) {
  #section-one{
    justify-content: center;
    .left, .right{
      display: none;
    }
  }
}

@media (max-width: rem(730)) {
  #section-one{
    padding: 1rem;
    .hero-content {
      h2{
        font-size: .9rem;
      }
      h1{
        font-size: 2.2rem;
        margin: 1rem 0 3rem ;
      }
    }
  }
}
