#section-four {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  padding: 5rem 0;


  h3 {
    font-size: 2rem;
    font-family: "Poppins";
    text-align: center;
  }
  .progress {
    width: 60rem;
    margin: 1rem auto;
    font-family: "Montserrat";
    .progress-row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8rem;
      margin-top: 5rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "list-one list-two list-three list-four"
        "list-five list-six list-seven list-eight";
      li {
        @include flex-center($direction: "column");
        gap: 1rem;
        position: relative;
        .progress-label {
          width: 15ch;
          text-align: center;
          position: absolute;
        }
        .progress-label.top {
          top: 0;
          transform: translateY(-200%);
        }
        .progress-label.bottom {
          bottom: 0;
          transform: translateY(200%);
        }
        .progress-counter {
          @include flex-center();
          height: 5rem;
          width: 5rem;
          border: 1px solid var(--clr-muted);
          border-radius: 50%;
          position: relative;

          &.connect-right::after,
          &.connect-bottom::after {
            content: "";
            position: absolute;
            background-color: var(--clr-muted);
          }
          &.connect-right::after {
            top: 50%;
            right: 0%;
            width: 9rem;
            height: 2px;
            transform: translate(120%, -50%);
          }

          &.connect-bottom::after {
            width: 2px;
            height: 5.5rem;
            bottom: -25px;
            transform: translateY(100%);
          }
          &.double-connect::before {
            content: "";
            position: absolute;
            background-color: var(--clr-muted);
            top: 50%;
            right: 0%;
            width: 9rem;
            height: 2px;
            transform: translate(120%, -50%);
          }
        }
      }
      &.second-row {
        flex-direction: row-reverse;
      }
      &.second-row li {
        flex-direction: column-reverse;
      }
    }
  }
}

@media (max-width: rem(1080)) {
  #section-four {
    .progress {
      width: 40rem;
      .progress-row {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "list-one list-two list-three "
        "list-six list-five list-four"
        "list-seven list-eight .";
        li {
          .progress-counter {
            &.connect-right::after,
            &.double-connect::before {
              width: 8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: rem(700)) {

  #section-four {
    .progress {
      width: 90%;
      overflow: hidden;
      .progress-row {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "list-one list-two"
        "list-four list-three"
        "list-five list-six"
        "list-eight list-seven";

        li {
          .progress-counter {
            &.connect-right::after,
            &.double-connect::before {
              width: 8rem;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 25rem) {
//   #section-four{
//     background-color: red !important;
//     .progress{
//       width: 20rem;
//       border: 1px solid blue;
//       background-color: red;
//     }
//   }

// }
